body {
    background-color: hsl(217, 54%, 11%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 3% 30%;
}

.card {
    background-color: hsl(216, 50%, 16%);
    color: #fff;
}

.card-img-top {
    padding: 15px;
}

.priceAndDay {
    display: flex;
    justify-content: space-between;
}

.price {
    display: inline-flex;
    flex-direction: row;
}

.ethIcon {
    width: auto;
    height: 20px;
}

/* .avatar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.avatarImg {
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
}